<section class="about" id="about">
    <div class="about-img">
        <img src="images/ME-profilepng.png" alt="" />
    </div>
    <div class="about-text">
        <h2>About <span>Me</span></h2>
        <h4>Full Stack Developpeur !</h4>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima harum
            placeat officiis optio, modi doloribus quidem aliquam cupiditate
            architecto, et quisquam, commodi natus eius debitis ex. Expedita animi
            officia recusandae!
        </p>
        <a href="#" class="btn-box">En savoir plus sur moi</a>
    </div>
</section>
