<section class="home">
    <div class="home-content">
        <h3>Bonjour, je suis</h3>
        <h1>Lucas Godani</h1>
        <h3>Et je suis <span class="text"></span></h3>
        <p>
            Un Web Developpeur Junior <br />
            Je me spécialise dans la création de site web avec Angular tout en
            faisant du design, du frontend
        </p>
        <div class="home-sci">
            <a href="#" style="--i: 7"><i class="bx bxl-facebook-circle"></i></a>
            <a href="#" style="--i: 8"><i class="bx bxl-instagram"></i></a>
            <a href="#" style="--i: 9"><i class="bx bxl-instagram"></i></a>
            <a href="#" style="--i: 10"><i class="bx bxl-linkedin"></i></a>
        </div>
        <a href="#" class="btn-box">En savoir plus sur moi</a>
    </div>

    <span class="home-imgHover"></span>
</section>
